<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--<h1><%= title %></h1>-->
    <h1>Welcome to <%= title %></h1>
    <p> <%= info.topic%></p>
      
      <ul>
          <!--<li><a href="/movie">The 100</a></li>
          <li>Grey's anatomy</li>
          <li>When calls the heart</li>
          <li>The Hunt</li>
          <li>AD Kingdom and Empire </li>
          <li>Stranger Things</li>
          <li>Rita</li>
          <li>Switched at Birth</li>
          <li> Anne with an 'E'</li>
          <li>FantastiC</li>
          <li>The 4400</li>
          <li>The returned</li>-->
          <% movies.forEach(function(movie){ %>
          <!--<li> <a href="/movie"><%= movie.name %></a></li>-->
          <li> <a href='/movie/<%= movie._id %>'><%= movie.name %></a></li>
          <% }); %>
      </ul>
  </body>
</html>
