<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<h1> Welcome to <%= title %></h1>-->
      
      <p> <%= info.name %> </p>
      <P> There are <%= info.seasons%> seasons on Netflix.</P>
      <p> Years: <%= info.years %></p>
      <!--<ul>
          <li>TV Shows</li>
          <li>TV Action & Adventure</li>
          <li>TV Dramas</li>
          <li>TV Sci-Fi & Fantasy</li>
      </ul>-->
      <ul>
  
          <% info.genres.forEach(function(genre){ %>
          <li>
          <span><%= genre.genre %></span>
          </li>
          <% }); %>
</ul>
      <!--<a href="https://www.netflix.com/search?q=the%20100&jbv=70283264&jbp=0&jbr=0"> Movie on Netflix</a>-->
      <a href='<%= info.netflixlink%>'> Movie on Netflix </a>
      <!--a.btn.btn-warning.pull-right(href="/deletequestion/#{question._id}") Delete this!!!-->
    <hr/>
      <a href='/deletemovie/<%= movie._id %>' class='btn btn-warning'> Delete this movie. </a>
      <a href='/updatemovie/<%= movie._id %>' class='btn btn-info'> Update genres. </a>
      <a href='/replacemovie/<%= movie._id %>' class='btn btn-primary'> Replace details. </a>
  </body>
</html>