<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Replace Genre(s) for <%= info.name %></h1> 
      
      <!--<p> name: <%= title %> </p>-->
      <form class="form-horizontal" action="" method="post" role="form">
          
          <p> At least one genre is requiered! Please separate genres with commas. For example: Funny Movie, Family, Docuseries </p>
          <table>
                        
        <tr>
        <td>Genre</td>
        <td>
            <input type="text" name="formgenre" value="<%= info.genres %>">
            <!--<input type="text" name="formgenre" value="<%= info.genres %>">-->
            
            </td>
        </tr>
              
              
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
          </form>
      
    
  </body>
</html>
